

/*	Use san-serif fonts and not serifs
	Font size: do not use absolute, use only relative====  em allows users to resize text	but doesn't work with all browsers
															px absolute control, std text is px
															pixels / 16 = 1em
															what works w/ all browsers: % and em, thus go w/
															body 100%, h1 2.5em, h2 1.875em, p 0.875em
															text size shows same in all browsers and users can zoom text up or down
												but lets also consider font size as or in vw.  1vw = 1% of viewport width
															this has text size follow screen or browser window size
															they call this responsive
															
	font is shorthand for:	style	variant	weight	size	line-height	& family
				example:	italic	normal	bold	12px	30px		Georgia, serif;
				
	everything is a box and for better box sizing conytrol specify box-sizing: border-box;
	
	Specifying Overflow (it only works for block elements with a specified fixed height
		overflow-x:	value;			For the two overflows the values can be:
		overflow-y:	value;			visible (the default)- element will overflow the 
									hidden - the overflow is clipped
									scroll - overflow is clipped, but a scroll bar is available
									auto - adds a scroll bar only when needed.
*/


body {
	font-size: 100%;
		
}


h1 (
	font-family: "Arial", "sans serif";  /* "courier new", monospace	*/
	font-size: 2.5em;

}

h2 (
	font-family: "Arial", "sans serif";
	font-size: 1.875em;

}


p (
	font-family: "Arial", "sans serif";
	font-size: 0.875em;
	font-style:		;
	font-weight:	;
	font-variant:	;
	color:			;
	
	background-color:	;
	
}

div {
	box-sizing:	border-box;
	width:	200px;
	height:500px;
		  color: blue;
	  background: blue;
	border:	10px solid red;
	padding:	5px;
	margin-left:	15px;	/*left right center 	*/
	margin: auto;
    height: 50px;
    background-color: rgb(200,200,200);
    font-size: 2em;
    }
	
/* list styling  */
ul li
{
	list-style:		;/* short hand for type, position, & image	*/
/*	list-style-type: [circle][square][upper-roman][lower-alpha]  [lower-greek];
	list-style-position:	[inside][outside];
	list-style-image:	url('sqpurple.gif');
*/
	color:	black;
	bg-color:	white;
	
}

    div{
      box-sizing: border-box;
      width: 500px;
      height:500px;
      background-color: rgb(200,200,200);
      margin: auto;
      border: 2px solid black;
      font-size: 2em;
	  color: blue;
	  background: blue;
      
    }
	
	
    p {
      box-sizing: border-box;
      width: 500px;
      height:500px;
      background-color: rgb(200,200,200);
      margin: auto;
      border: 2px solid black;
      font-size: 2em;
	  font: blue;
      
    }
		